  <div class="sinovad-avatar-container">
    <button #button id="avatar_button" class="sinovad-avatar-button" (click)="onClickAvatarButton()">
      <ng-template [ngIf]="sharedData.currentProfile">
        <div class="sinovad-initials-profile">
          {{getInitials(sharedData.currentProfile)}}
        </div>
        <div class="sinovad-fullname-profile">
          {{sharedData.currentProfile.FullName}}
        </div>
      </ng-template>
    </button>
  </div>
  <ng-template ngFor let-module [ngForOf]="listModules">
    <div class="sinovad-module-container">
      <ng-template ngFor let-option [ngForOf]="module.listOptions">
        <button #button id="menu_button_{{option.index}}" class="sinovad-menu-button"
        [ngClass]="{'selected':selectedMenuOption && option.index==selectedMenuOption.index}" (click)="onClickMenuOption(option)">
          <i class="{{option.iconClass}}"></i>
          <span class="ms-2">{{option.name}}</span>
        </button>
      </ng-template>
    </div>
  </ng-template>
  <div class="sinovad-icon-container">
    <div class="sinovad-icon-content">
      <div>
        <img [src]="'sinovad-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
    </div>
  </div>

<app-profiles-view-tv *ngIf="showProfilesView" (showProfiles)="showProfiles.emit(true)" (selectProfile)="onSelectProfile($event)" [ngClass]="{'small':isSmallDevice()}"></app-profiles-view-tv>


