<ng-template #modalTarget let-modal>
  <div class="sinovad-form-page-container">
    <div class="sinovad-page-header">
      <div class="sinovad-logo-container sinovaclient-left">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovaclient-right">
        <button (click)="saveProfile()">Listo</button>
      </div>
    </div>
    <div class="sinovadclient-modal-content">
      <div>
        <h2 *ngIf="currentTmpProfile.Id>0">Editar Perfil</h2>
        <h2 *ngIf="!currentTmpProfile.Id">Nuevo Perfil</h2>
        <input type="text" [(ngModel)]="currentTmpProfile.FullName">
      </div>
    </div>
    <div class="sinovaclient-footer-content">
      <button *ngIf="currentTmpProfile && currentTmpProfile.Id>0 && !currentTmpProfile.Main" (click)="onClickDeleteButton()">Eliminar Perfil</button>
    </div>
  </div>
</ng-template>







