<ng-template #modalTarget let-modal>
  <div class="sinovad-form-page-container">
    <div class="sinovad-page-header">
      <div class="sinovad-logo-container sinovaclient-left">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
      </div>
      <div class="sinovaclient-right">
        <button (click)="saveProfile()">Listo</button>
      </div>
    </div>
    <div class="sinovad-page-container">
      <div class="sinovad-page-content">
        <div class="top-container">
          <h2 class="title">Editar Perfil</h2>
          <p *ngIf="currentTmpProfile && currentTmpProfile.Id>0 && currentTmpProfile.Main" class="subtitle">El perfil principal no se puede eliminar</p>
        </div>
        <div class="bottom-container">
          <div class="first">
            <input type="text" [(ngModel)]="currentTmpProfile.FullName">
            <div class="sinovad-delete-profile-button-container">
              <button *ngIf="currentTmpProfile && currentTmpProfile.Id>0 && !currentTmpProfile.Main" (click)="onClickDeleteButton()">Eliminar Perfil</button>
            </div>
          </div>
          <div class="second">
            <input #input type="file" accept=".png, .jpg" (change)="uploadAvatarImage($event)" style="display: none;" />
            <button (click)="input.click()">
              <div *ngIf="currentTmpProfile.AvatarPath==undefined" class="sinovad-initials-profile">
                {{getInitials(currentTmpProfile)}}
              </div>
              <img *ngIf="currentTmpProfile.AvatarPath!=undefined && !hideImage" class="sinovad-initials-profile" [attr.src]="currentTmpProfile.Id | formatDataPipe : 'GetAvatarImageURLByProfileId' | async">
              <div class="sinovad-icon-edit-profile-container">
                <div class="sinovad-icon-edit-profile-content">
                  <img [src]="'edit-profile.png' | formatDataPipe : 'GetImageURLByKey' | async">
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>







