<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="sinovad-page-not-found-content text-center">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <p class="fs-3">No encontramos la página que esta buscando</p>
      <p class="lead">
          Has click en el siguiente boton para ir a la página de inicio de Sinovad Stream
      </p>
      <button class="btn btn-primary" (click)="goInitialPage()">Inicio</button>
  </div>
</div>
