<div class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClickCloseButton()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey'">
  </button>
</div>
<section id="sinovad-form-container" #loginFormContainer class="sinovad-container" [ngClass]="{'small':isSmallDevice()}" tabindex="0">
  <div class="sinovad-login-form-content">
    <div>
      <div class="sinovad-login-title-container">
        Cambiar contraseña
      </div>
      <ng-template [ngIf]="showResetPasswordForm">
        <section id="sinovad-form-container-password-section" class="sinovad-login-form-caption-input-container" tabindex="0">
          <div class="sinovad-form-caption-input-content">
            <div class="sinovad-login-form-caption-container">
              <span>
                Contraseña
              </span>
            </div>
            <div class="sinovad-form-textinput-container">
              <input id="password-input" #password type="password" [(ngModel)]="resetPasswordModel.Password"/>
            </div>
          </div>
        </section>
        <section id="sinovad-form-container-password-section" class="sinovad-login-form-caption-input-container" tabindex="0">
          <div class="sinovad-form-caption-input-content">
            <div class="sinovad-login-form-caption-container">
              <span>
                Confirmación de contraseña
              </span>
            </div>
            <div class="sinovad-form-textinput-container">
              <input id="password-input" #password type="password" [(ngModel)]="resetPasswordModel.ConfirmPassword"/>
            </div>
          </div>
        </section>
        <section id="sinovad-form-container-button-section" class="sinovad-login-form-button-section" tabindex="0">
          <button id="log-in-button" class="sinovad-btn-enter" (click)="confirm()">Confirmar</button>
        </section>
        <div class="sinovad-login-form-error-message-container">
          {{errorMessage}}
        </div>
      </ng-template>
      <ng-template [ngIf]="showInvalidTokenMessage">
        <h2>Token inválido</h2>
      </ng-template>
      <ng-template [ngIf]="showResetPasswordSuccessMessage">
        <h2>Se cambió la contraseña satisfactoriamente</h2>
      </ng-template>
    </div>
  </div>
</section>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

