<div #header class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClickCloseButton()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey' | async">
  </button>
</div>
<div  class="sinovad-container">
  <div *ngIf="showResetPasswordForm" class="sinovad-form-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="confirm()" class="sinovad-form-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
      </div>
      <div class="sinovad-title-container">
        Cambiar contraseña
      </div>
      <div class="mb-3">
        <label class="form-label">
            Contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="password" formControlName="password"/>
          <label class="sinovad-form-invalid-input-message" *ngIf="isInvalidFormControl(resetPasswordForm,'password') && hasRequireErrorFormControl(resetPasswordForm,'password')">
            <i class="fa-solid fa-circle-exclamation me-2"></i>Confirma que hayas agregado el password correctamente
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Confirmación de contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="password"  formControlName="confirmPassword"/>
          <label class="sinovad-form-invalid-input-message" *ngIf="isInvalidFormControl(resetPasswordForm,'confirmPassword') && hasRequireErrorFormControl(resetPasswordForm,'confirmPassword')">
            <i class="fa-solid fa-circle-exclamation me-2"></i>Confirma que hayas agregado la confirmación del password correctamente
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="confirm">Confirmar</button>
      </div>
      <div class="sinovad-form-error-message-container">
        {{errorMessage}}
      </div>
    </form>
  </div>
  <div *ngIf="!showResetPasswordForm && (showInvalidTokenMessage || showResetPasswordSuccessMessage)"  class="sinovad-message-container">
    <div class="sinovad-message-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
      </div>
      <ng-template [ngIf]="showResetPasswordSuccessMessage">
        <div class="sinovad-title-container">
          Cambio de contraseña
        </div>
        <h2>Se cambió la contraseña satisfactoriamente</h2>
      </ng-template>
      <ng-template [ngIf]="showInvalidTokenMessage">
        <div class="sinovad-title-container">
          Validación de Token
        </div>
        <h2 class="error">Token inválido</h2>
      </ng-template>
    </div>
  </div>
</div>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

