<div #header class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey'">
  </button>
</div>
<div class="sinovad-container" [style.height]="'calc(100% - '+header.offsetHeight+'px)'">
  <div *ngIf="!sendedConfirmationEmail" class="sinovad-form-container">
    <div class="sinovad-form-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-title-container">
        Olvido su contraseña
      </div>
      <div class="mb-3">
        <label class="form-label">
            Correo electrónico
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text"  [(ngModel)]="recoverPasswordModel.Email"/>
        </div>
      </div>
      <div class="mb-3">
        <button class="recover" (click)="SendRecoverPasswordEmail()">Recuperar contraseña</button>
      </div>
      <div class="sinovad-form-error-message-container">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div *ngIf="sendedConfirmationEmail" class="sinovad-message-container">
    <div class="sinovad-message-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-title-container">
        Confirmación de olvido de contraseña
      </div>
      <h2>Por favor verifique su email para recuperar su contraseña</h2>
    </div>
  </div>
</div>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

