<div class="sinovad-back-button-container">
  <button (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetIconURLByKey' | async">
  </button>
</div>
<div class="sinovad-container">
  <div class="sinovad-message-container">
    <div class="sinovad-message-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetIconURLByKey' | async">
      </div>
      <div class="sinovad-title-container">
        Confirmación de Email
      </div>
      <ng-template [ngIf]="showInvalidTokenMessage">
        <h2 class="error">{{errorMessage}}</h2>
      </ng-template>
      <ng-template [ngIf]="showSuccessMessage">
        <h2>Su correo ha sido confirmado, ya puede iniciar sesión</h2>
      </ng-template>
    </div>
  </div>
</div>



