<div class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey'">
  </button>
</div>
<div>
  <div class="sinovad-form-container">
    <div>
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-login-title-container">
        Confirmación de Email
      </div>
      <ng-template [ngIf]="showInvalidTokenMessage">
        <div class="sinovad-login-form-error-message-container">
          <h2>{{errorMessage}}</h2>
        </div>
      </ng-template>
      <ng-template [ngIf]="showSuccessMessage">
        <h2>Su correo ha sido confirmado, ya puede iniciar sesión</h2>
      </ng-template>
    </div>
  </div>
</div>



