button{
  outline:none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

.sinovad-episode-button{
  width: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0px;
  border: none;
  background: transparent;
}


.sinovad-overview-section{
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 10;
}

.sinovad-episode-title-section{
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.sinovad-episode-image-section{
  display: block;
}

.sinovad-episode-detail-section{
  display: block;
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.sinovad-video-container{
  width: 100%;
  height: 100%;
  background: black;
}

.sinovad-item-progress-bar-container{
  width: 100%;
  height: 5px;
  background-color: rgb(30, 26, 40);
  position: relative;
  margin-top: 10px;
}

.sinovad-item-progress-bar-content{
  background-color: red;
  height: 100%;
}

.sinovad-item-view-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
}

.sinovad-item-view-title-container{
  position: relative;
  width: fit-content;
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.sinovad-item-view-subtitle-container{
  position: relative;
  width: fit-content;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.sinovad-item-view-background-container{
  position: relative;
  img{
    max-width: unset;
    width: 100%;
    opacity: 0.5;
  }
}

.sinovad-item-view-seasons-container{
  position: relative;
  width: 100%;
  font-size: 20px;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: bold;
}

.sinovad-list-row-container{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}


.sinovad-list-button-scroll-left{
  position: relative;
  width: 60px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img{
    opacity: 0.4;
    max-width: unset;
    height: 110px;
    display: none;
  }
}

.sinovad-list-button-scroll-right{
  width: 60px;
  height: 82px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  img{
    max-width: unset;
    height: 110px;
    display: none;
    opacity: 0.4;
  }
}

.sinovad-list-button-scroll-right:hover img{
  display: block;
}

.sinovad-list-button-scroll-left:hover img{
  display: block;
}

.sinovad-list-row{
  display: block;
  overflow-x: auto;
  width: 100%;
}

.sinovad-list-content{
  display: flex;
}

.sinovad-season-container{
  padding-right: 10px;
}

.sinovad-season-button{
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 4px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
  border: none;
}

.sinovad-season-button:hover{
  border-bottom: 4px solid #007bff;
}

.sinovad-season-button:focus-visible{
  border-bottom: 4px solid #007bff;
}

.sinovad-season-button:focus{
  border-bottom: 4px solid #007bff !important;
}

.sinovad-season-button.selected{
  border-bottom: 4px solid #007bff;
}


button{
  font-size: 25px;
}

.sinovad-mobile-platform{
  .sinovad-list-button-scroll-right{
    display: none !important;
  }
  .sinovad-list-button-scroll-left{
    display: none !important;
  }
}

.sinovad-item-view-title-container{
  font-size: 30px;
}
.sinovad-item-view-subtitle-container{
  font-size: 14px;
}
.sinovad-episode-image-section{
  img{
    height: 200px;
    border: 4px solid transparent;
  }
}

.sinovad-episode-button:hover{
  .sinovad-episode-image-section{
    img{
      border: 4px solid #007bff;
      height: 205px;
    }
  }
}

.sinovad-episode-button:focus-visible{
  .sinovad-episode-image-section{
    img{
      border: 4px solid #007bff;
      height: 205px;
    }
  }
}

.sinovad-episode-button:focus{
  .sinovad-episode-image-section{
    img{
      border: 4px solid #007bff;
      height: 205px;
    }
  }
}


.sinovad-episode-title-section{
  font-size: 15px;
}
.sinovad-overview-section{
  font-size: 13px;
  -webkit-line-clamp: 7;
}
.sinovad-season-button{
  font-size: 20px;
}

.sinovad-item-view-principal-button-container{
  position: relative;
  width: fit-content;
  font-size: 25px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  button{
    font-size: 16px;
    border: none;
    background: white;
    color: black;
    font-weight: 700;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    margin-right: 10px;
  }
  button:hover{
    background: #007bff;
    color: #fff;
  }
  button:focus-visible{
    background: #007bff;
    color: #fff;
  }
  button:focus{
    background: #007bff;
    color: #fff;
  }
}

.sinovad-item-view-summary-container{
  position: relative;
  width: fit-content;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  padding-right: 20px;
}

//for screens with 2k resolution and up
@media only screen and (min-width: 2048px) {
  .sinovad-item-view-summary-container{
    font-size: 30px;
  }
  .sinovad-item-view-principal-button-container{
    button{
      font-size: 25px;
    }
  }
  .sinovad-item-view-title-container{
    font-size: 50px;
  }
  .sinovad-item-view-subtitle-container{
    font-size: 25px;
  }
  .sinovad-episode-image-section{
    img{
      height: 300px;
    }
  }
  .sinovad-episode-title-section{
    font-size: 25px;
  }
  .sinovad-overview-section{
    font-size: 20px;
    -webkit-line-clamp: 10;
  }
  .sinovad-season-button{
    font-size: 25px;
  }

}

//for small devices
@media only screen and (max-width: 767px) {
  .sinovad-episode-button{
    display: block;
    text-align: left;
    margin-bottom: 20px;
  }
  .sinovad-episode-detail-section{
    padding: 0px 8px 0px 8px;
  }
  .sinovad-episode-image-section{
    margin-bottom: 10px;
    img{
      height: unset;
      width: 100%;
      max-height: 410px;
      object-fit: cover;
      object-position: top;
    }
  }
  .sinovad-episode-title-section{
    -webkit-line-clamp: 2;
  }

  .sinovad-episode-button:hover{
    .sinovad-episode-image-section{
      img{
        height: unset;
      }
    }
  }

  .sinovad-episode-button:focus-visible{
    .sinovad-episode-image-section{
      img{
        height: unset;
      }
    }
  }

  .sinovad-episode-button:focus{
    .sinovad-episode-image-section{
      img{
        height: unset;
      }
    }
  }
}


//for extra small devices
@media only screen and (max-width: 575px) {
  .sinovad-episode-image-section{
    img{
      max-height: 320px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .sinovad-episode-image-section{
    img{
      max-height: 260px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .sinovad-episode-image-section{
    img{
      max-height: 200px;
    }
  }
}
