
<div *ngIf="sharedData.currentToken!=undefined && sharedData.accountData!=undefined" class="sinovad-page-container">
  <div #header>
    <app-header-web (goHome)="ShowInitial()" (selectOption)="onClickNavbarOption($event)" (logout)="logOut()" (showSplashScreen)="showSplashScreen=true"
     (logout)="logOut()"></app-header-web>
  </div>
  <div class="sinovad-menu-body-container" [style.height]="'calc(100% - '+(header.offsetHeight+footer.offsetHeight)+'px)'">
    <section id="bodyContainer" #principalContainer class="sinovad-body-container" [style.width]="'100%'" tabindex="0">
      <ng-template [ngIf]="!hideContent">
        <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
      </ng-template>
    </section>
  </div>
  <div #footer>

  </div>
</div>
<div *ngIf="sharedData.currentToken==undefined && sharedData.accountData==undefined" class="sinovad-page-container">
  <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
</div>

<section *ngIf="sharedData.currentVideo" class="sinovad-container-video">
  <app-video [ngClass]="{'small':isSmallDevice()}" (fullscreen)="showVideoInFullScreen()" [builderVideo]="sharedData.currentVideo" (outputCloseVideo)="closeVideo()"></app-video>
</section>

<app-splash-screen *ngIf="showSplashScreen"></app-splash-screen>
