<section id="sinovad-landing-container" class="sinovad-landing-container">
  <div class="sinovad-landing-form-content">
    <div>
      <div class="sinovad-landing-title-container">
        <!--<span class="first">S</span><span class="second">inovad stream</span>-->
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-landing-form-button-section">
        <button class="register" (click)="showRegisterPage()">Regístrate</button>
        <button class="login" (click)="showLoginPage()">Inicia sesión</button>
      </div>
    </div>
  </div>
</section>


