<section id="sinovad-landing-container" class="sinovad-landing-container" [ngClass]="{'small':isSmallDevice()}" tabindex="0">
  <div class="sinovad-landing-form-content">
    <div>
      <div class="sinovad-landing-title-container">
        Sinovad
      </div>
      <div class="sinovad-landing-form-button-section">
        <button id="register-button" (click)="showRegisterPage()">Regístrate</button>
        <button id="log-in-button" (click)="showLoginPage()">Inicia sesión</button>
      </div>
    </div>
  </div>
</section>


