<section id="sinovad-container" class="sinovad-container">
  <div class="sinovad-form-container">
    <div class="sinovad-form-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
<!--       <div class="sinovad-title-container">
        <span class="first">S</span><span class="second">inovad stream</span>
      </div> -->
      <div class="sinovad-form-button-section">
        <button class="register" (click)="showRegisterPage()">REGÍSTRATE</button>
        <button class="login" (click)="showLoginPage()">INICIA SESIÓN</button>
      </div>
    </div>
  </div>
</section>


