<header>
  <nav>
    <a class="nav-button-icon-container toggle" (click)="onClickToggleSidebarButton($event)">
      <i class="fa-solid fa-bars"></i>
    </a>
    <a *ngIf="showingSidebarAccount || showingSidebarAdminMode" class="nav-button-icon-container home" [routerLink]="['/home']">
      <i class="fa-solid fa-house"></i>
    </a>
    <a class="sinovad-logo-button" [routerLink]="['/home']">
      <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
<!--       <span class="first-span">Sinovad</span>
      <span class="second-span">Stream</span> -->
    </a>
    <div class="sinovad-custom-search" [ngClass]="{'focused':isFocusSearch && !isSmallDevice()}">
        <input #input type="text" [(ngModel)]="searchText" (change)="onChangeSearchValue()" (focus)="isFocusSearch=true" (blur)="isFocusSearch=false">
        <button (click)="onClickSearchButton()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <app-dropdown-user></app-dropdown-user>
  </nav>
  <div *ngIf="isSmallDevice() && showNavbarSearch" class="sinovad-navbar-search">
    <div class="sinovad-bottom-search" [ngClass]="{'focused':isFocusSearch}">
      <input #input type="text" [(ngModel)]="searchText" (change)="onChangeSearchValue()" (focus)="isFocusSearch=true" (blur)="isFocusSearch=false">
      <button (click)="onClickSearchButton()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="sinovad-close-search-container">
      <button (click)="showNavbarSearch=false">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</header>


