
<div class="sidebar-backdrop" (clickOutside)="onClickOutsideSidebar($event)">
  <ul class="sinovad-sidebar-modules-list">
    <ng-template ngFor let-module [ngForOf]="sharedService.manageMenus">
      <li class="sinovad-sidebar-module-element">
        <button class="sinovad-sidebar-module-button" (click)="onClickModule(module,$event)">
          <i *ngIf="module.isCollapsed" class="fa-solid fa-chevron-right"></i>
          <i *ngIf="!module.isCollapsed" class="fa-solid fa-chevron-down"></i>
          <span class="ms-2">{{module.Title}}</span>
        </button>
        <div *ngIf="!module.isCollapsed">
          <ul class="sinovad-sidebar-options-list">
            <ng-template ngFor let-option [ngForOf]="module.ChildMenus">
              <li class="sinovad-sidebar-option-element">
              <a [routerLink]="[option.Path]" [ngClass]="{'active':isSelectedMenu(option)}">
                <i *ngIf="option.IconClass" class="{{option.IconClass}}"></i>
                <span class="ms-2">{{option.Title}}</span>
              </a>
            </li>
            </ng-template>
          </ul>
        </div>
      </li>
    </ng-template>
  </ul>
</div>



