<ng-template [ngIf]="library!=undefined && libraryFormGroup">
  <form [formGroup]="libraryFormGroup" (ngSubmit)="saveStorage()">
    <div class="modal-header">
      <h5 class="modal-title">{{library.Id>0?'Editar Almacenamiento':'Nuevo Almacenamiento'}}</h5>
      <button class="modal-close-button" type="button" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" [errorStateMatcher]="matcher"/>
        <mat-error *ngIf="libraryFormGroup.controls['name'].hasError('required')">
          Nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="mediaType">
          <mat-option [value]="undefined">--</mat-option>
          <mat-option *ngFor="let mt of mediaTypes" [value]="mt.Id">
            {{mt.Name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="libraryFormGroup.controls['mediaType'].hasError('required')">
          Tipo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Directorio</mat-label>
        <input matInput formControlName="physicalPath" readonly="" style="cursor: pointer;" [errorStateMatcher]="matcher" (click)="showChooserDirectoryModal()"/>
        <mat-error *ngIf="libraryFormGroup.controls['physicalPath'].hasError('required')">
          Directorio es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="showLoading || !libraryFormGroup.valid">Guardar</button>
    </div>
  </form>
  <app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
</ng-template>



