

<div *ngIf="!sharedService.showSplashScreen" class="sinovad-user-dropdown">
  <ul class="sinovad-dropdown-list" role="menu">
    <li class="sinovad-avatar-item">
      <a #button id="avatar_button" class="sinovad-avatar-button principal">
        <ng-template [ngIf]="sharedService.currentProfile">
          <span class="sinovad-fullname-profile text-truncate">
            {{sharedService.currentProfile.FullName}}
          </span>
          <div *ngIf="sharedService.currentProfile.AvatarPath==undefined" class="sinovad-initials-profile">
            {{sharedService.getInitials(sharedService.currentProfile)}}
          </div>
          <img *ngIf="sharedService.currentProfile.AvatarPath!=undefined" class="sinovad-initials-profile"
          [attr.src]="sharedService.currentProfile.Id | formatDataPipe : 'GetAvatarImageURLByProfileId' | async">
        </ng-template>
      </a>
    </li>
    <div class="sinovad-separator-dropdown"></div>
    <div class="sinovad-bottom-list">
      <ng-template [ngIf]="sharedService.listProfiles && sharedService.listProfiles.length>0">
        <ng-template ngFor let-profile [ngForOf]="sharedService.listProfiles">
          <li *ngIf="sharedService.currentProfile && profile.Id!=sharedService.currentProfile.Id" class="sinovad-avatar-item">
            <a #button id="avatar_button" class="sinovad-avatar-button" (click)="onSelectProfile(profile)">
                <div *ngIf="profile.AvatarPath==undefined" class="sinovad-initials-profile">
                  {{sharedService.getInitials(profile)}}
                </div>
                <img *ngIf="profile.AvatarPath!=undefined" class="sinovad-initials-profile" [attr.src]="profile.Id | formatDataPipe : 'GetAvatarImageURLByProfileId' | async">
                <span class="sinovad-fullname-profile text-truncate">
                  {{profile.FullName}}
                </span>
            </a>
          </li>
        </ng-template>
      </ng-template>
      <li class="sinovad-avatar-item">
        <a (click)="onClickEditProfilesButton()">
          <span>Editar perfiles</span>
        </a>
      </li>
      <li class="sinovad-avatar-item">
        <a (click)="onClickAccountOption()">
          <span>Cuenta</span>
        </a>
      </li>
      <li *ngIf="sharedService.listMenus && sharedService.listMenus.length>0" class="sinovad-avatar-item">
        <a (click)="onClickAdminMode()">
          <span>Mantenimiento</span>
        </a>
      </li>
      <li class="sinovad-avatar-item">
        <a (click)="logOut()">
          <span>Cerrar Sesión</span>
        </a>
      </li>
    </div>
  </ul>
</div>
