<div class="sinovad-page-section-container">
  <div *ngIf="serverErrorMessage" class="sinovad-server-error-message-content">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>{{serverErrorMessage}}
  </div>
  <div class="sinovad-page-section-content">
    <div class="button-container">
      <button class="cancel" (click)="closeChangeNames.emit(true)">Cancelar</button>
    </div>
    <form [formGroup]="changeNamesForm" (ngSubmit)="changeUsername()" class="form">
      <div class="form-group" [ngClass]="{'error':sharedService.isInvalidFormControl(changeNamesForm,'firstName')}">
        <label>
          Nombres{{sharedService.isInvalidFormControl(changeNamesForm,'firstName') && sharedService.hasRequireErrorFormControl(changeNamesForm,'firstName')?' - Se requiere nombres':''}}
        </label>
        <input formControlName="firstName">
      </div>
      <div class="form-group" [ngClass]="{'error':sharedService.isInvalidFormControl(changeNamesForm,'lastName')}">
        <label>
          Apellidos{{sharedService.isInvalidFormControl(changeNamesForm,'lastName') && sharedService.hasRequireErrorFormControl(changeNamesForm,'lastName')?' - Se requiere apellidos':''}}
        </label>
        <input formControlName="lastName">
      </div>
      <div class="submit-button-container">
        <button type="submit" class="btn btn-primary"
        [disabled]="loading || changeNamesForm.pristine || !changeNamesForm.valid">
          <span [style.visibility]="loading?'hidden':'unset'">Guardar Cambios</span>
          <div *ngIf="loading" class="lds-dual-ring"></div>
        </button>
      </div>
    </form>
  </div>
</div>
