.server-error-page-container{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
}

.server-error-page-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 15px;
  justify-content: center;
  padding: 48px;
}

.server-error-message-title{
  font-size: 24px;
  line-height: 1.5;
  max-width: 640px;
  text-align: center;
}

.server-error-message-description{
  color: hsla(0,0%,100%,.75);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.5;
  margin: 30px 0 42px;
  max-width: 640px;
  text-align: center;
}

