
<div class="custom-toast" [ngClass]="{'success':toastOptions.snackBarType==SnackBarType().Success,'info':toastOptions.snackBarType==SnackBarType().Info,'error':toastOptions.snackBarType==SnackBarType().Error}">
    <i *ngIf="toastOptions.snackBarType==SnackBarType().Success" class="fa-solid fa-circle-check me-2"></i>
    <i *ngIf="toastOptions.snackBarType==SnackBarType().Info" class="fa-solid fa-circle-info me-2"></i>
    <i *ngIf="toastOptions.snackBarType==SnackBarType().Error" class="fa-solid fa-circle-xmark me-2"></i>
    {{toastOptions.message}}
</div>


