<div class="sinovad-back-button-container">
  <button (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey' | async">
  </button>
</div>
<div class="sinovad-container">
  <div class="sinovad-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="sinovad-form-content">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
      </div>
      <div class="sinovad-title-container">
        Inicia sesión
      </div>
      <div class="mb-3">
        <label class="form-label">
            Usuario
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text" formControlName="username"/>
          <label class="sinovad-form-invalid-input-message" *ngIf="sharedData.isInvalidFormControl(loginForm,'username') && sharedData.hasRequireErrorFormControl(loginForm,'username')">
            <i class="fa-solid fa-circle-exclamation me-2"></i>Confirma que hayas agregado el usuario correctamente
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input #password type="password" formControlName="password"/>
          <label class="sinovad-form-invalid-input-message" *ngIf="sharedData.isInvalidFormControl(loginForm,'password') && sharedData.hasRequireErrorFormControl(loginForm,'password')">
            <i class="fa-solid fa-circle-exclamation me-2"></i>Confirma que hayas agregado la contraseña correctamente
          </label>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="enter" [ngClass]="{'disable':showLoading}">INGRESAR</button>
      </div>
      <div class="sinovad-form-error-message-container">
        {{errorMessage}}
      </div>
      <div class="mb-3">
        <button class="recover" (click)="showRecoverPasswordPage()" [ngClass]="{'disable':showLoading}">OLVIDASTE TU CONTRASEÑA?</button>
      </div>
    </form>
  </div>
</div>
<app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
