<div class="sinovad-back-button-container">
  <button (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey' | async">
  </button>
</div>
<div class="login-container">
  <div class="login-logo-container">
    <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
  </div>
  <div class="login-content">
    <div class="login-form-container">
      <div class="login-title-container">
        Inicia sesión
      </div>
      <ng-template [ngIf]="!showPasswordForm">
        <form [formGroup]="userFormGroup" (ngSubmit)="validateUser()" class="login-form-content" autocomplete="off">
          <div *ngIf="errorMessage" class="sinovad-form-error-message-container">
            {{errorMessage}}
          </div>
          <div class="mb-3">
            <mat-form-field class="login-form-field">
              <mat-label>Usuario</mat-label>
              <input id="title" matInput formControlName="username" [errorStateMatcher]="matcher"/>
              <mat-error *ngIf="userFormGroup.controls['username'].hasError('required')">
                <i class="fa-solid fa-circle-exclamation me-2"></i>Ingresa el usuario correctamente
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="showLoading || !userFormGroup.valid">Siguiente</button>
          </div>
        </form>
        <div class="mb-3">
          <button class="btn btn-secondary" (click)="onClose()">Cancelar</button>
        </div>
        <div class="mb-3">
          <button class="btn google" (click)="loginWithGoogle()"><img [src]="'google.svg' | formatDataPipe : 'GetImageURLByKey' | async"/>Continuar con Google</button>
        </div>
        <div class="mb-3">
          <button class="btn facebook" (click)="loginWithFacebook()"><img [src]="'facebook.svg' | formatDataPipe : 'GetImageURLByKey' | async"/>Continuar con Facebook</button>
        </div>
        <div class="mb-3">
          <button class="btn apple" (click)="loginWithApple()"><img [src]="'apple.svg' | formatDataPipe : 'GetImageURLByKey' | async"/>Continuar con Apple</button>
        </div>
      </ng-template>
      <ng-template [ngIf]="showPasswordForm">
        <div *ngIf="errorMessage" class="sinovad-form-error-message-container">
          {{errorMessage}}
        </div>
        <form [formGroup]="passwordFormGroup" (ngSubmit)="ValidatePassword()" class="login-form-content" autocomplete="off">
          <div class="mb-3">
            <mat-form-field class="login-form-field">
              <mat-label>Contraseña</mat-label>
              <input id="title" matInput formControlName="password" type="password" [errorStateMatcher]="matcher"/>
              <mat-error *ngIf="passwordFormGroup.controls['password'].hasError('required')">
                <i class="fa-solid fa-circle-exclamation me-2"></i>Ingresa la contraseña correctamente
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="showLoading || !passwordFormGroup.valid">Iniciar sesión</button>
          </div>
        </form>
        <div class="mb-3">
          <button class="btn btn-secondary" (click)="onClose()">Cancelar</button>
        </div>
        <div class="mb-3">
          <button class="btn btn-secondary" (click)="showRecoverPasswordPage()" [ngClass]="{'disable':showLoading}">Olvidaste tu contraseña?</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
