:host{
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

button{
  outline:none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

.sinovad-container{
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sinovad-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

button.enter{
  background-color: #007bff;
}

button.recover{
  background-color: #2e303d;
}


.sinovad-spinner-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
