<div class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey'">
  </button>
</div>
<div class="sinovad-container">
  <div class="sinovad-form-container">
    <div class="sinovad-form">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-title-container">
        Inicia sesión
      </div>
      <div class="mb-3">
        <label class="form-label">
            Usuario
        </label>
        <div class="sinovad-form-textinput-container">
          <input id="UserName-input" #UserName type="text" [(ngModel)]="user.UserName"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input id="password-input" #password type="password" [(ngModel)]="user.Password"/>
        </div>
      </div>
      <div class="mb-3">
        <button class="enter" (click)="login()">INGRESAR</button>
      </div>
      <div class="sinovad-form-error-message-container">
        {{errorMessage}}
      </div>
      <div class="mb-3">
        <button class="recover" (click)="showRecoverPasswordPage()">OLVIDASTE TU CONTRASEÑA?</button>
      </div>
    </div>
  </div>
</div>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

