<ng-template [ngIf]="user!=undefined">
  <div class="container custom-list-container">
    <div class="row mb-5">
      <div class="custom-page-title"><a [routerLink]="['/manage/users']">Usuarios</a> - {{user.UserName}} - Roles</div>
    </div>
    <div>
      <div class="row">
        <div class="col-12">
              <div class="modal-body">
                <ng-template ngFor let-userRole [ngForOf]="user.UserRoles"  let-i="index">
                  <p><mat-checkbox (click)="onChangeCheckValue($event,userRole)" [checked]="userRole.Enabled">{{userRole.RoleName}}</mat-checkbox></p>
                </ng-template>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" [disabled]="showLoading" (click)="saveUserRoles()">Guardar</button>
              </div>
            <app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
        </div>
      </div>
    </div>
  </div>
</ng-template>

