  <ng-template [ngIf]="parent!=undefined">
    <div class="modal-header">
      <h5 class="modal-title">{{parent.Name}} :Temporadas</h5>
      <button class="modal-close-button" type="button" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
        <app-season-list [parentItem]="parent"></app-season-list>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </ng-template>
