button{
  outline:none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}


.sinovad-list-row-container{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.sinovad-list-row{
  display: block;
  overflow-x: auto;
  outline: none;
}

.sinovad-list-content{
  display: flex;
  gap: 20px;
}


.sinovad-item-caption-container{
  color: white;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}


.sinovad-vertical-list-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sinovad-vertical-list-second-content{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sinovad-item-button-vertical{
  min-width: 160px;
  width: 160px;
  height: 200px;
  display: block;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 0px;
  border-radius: unset;
  border: none;
  background: transparent;
  img{
    width: 100%;
    height: 100%;
    max-width: unset;
    border-radius: 10px;
    border: 4px solid transparent;
  }
  .sinovad-item-caption{
    position: absolute;
    margin-top: 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
}



.sinovad-item-button-vertical:hover{
  width: 170px;
  height: 210px;
  img{
    border: 4px solid #007bff;
  }
}
.sinovad-item-button-vertical:focus-visible{
  width: 170px;
  height: 210px;
  img{
    border: 4px solid #007bff;
  }
}
.sinovad-item-button-vertical:focus{
  width: 170px;
  height: 210px;
  img{
    border: 4px solid #007bff;
  }
}

.sinovad-item-caption-container{
  font-size: 14px;
}
.sinovad-list-content{
  gap: 20px;
}
.sinovad-item-container{
  padding: 0px;
  margin: 0px;
  width: min-content;
  border-radius: 6px;
}

//for screens with 2k resolution and up
@media only screen and (min-width: 2048px) {
  .sinovad-item-container{
    padding-right: 0px 10px 0px 0px;
    margin: 6px;
  }
  .sinovad-list-content{
    gap: unset;
  }
  .sinovad-item-title-caption-container{
    font-size: 20px;
  }
  .sinovad-item-caption-container{
    font-size: 20px;
  }
  .sinovad-list-row-title{
    font-size: 25px;
  }
  .sinovad-item-button-vertical{
    width: 230px;
    height: 310px;
  }
  .sinovad-item-button-vertical:hover{
    width: 240px;
    height: 320px;
  }
  .sinovad-item-button-vertical:focus-visible{
    width: 240px;
    height: 320px;
  }
  .sinovad-item-button-vertical:focus{
    width: 240px;
    height: 320px;
  }
  .sinovad-list-button-scroll-right{
    height: 310px;
  }
  .sinovad-list-button-scroll-left{
    height: 310px;
  }

}
