<section id="sinovad-form-container" #loginFormContainer class="sinovad-container" [ngClass]="{'small':isSmallDevice()}" tabindex="0">
  <div class="sinovad-login-form-content">
    <div>
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey' | async">
      </div>
      <div class="sinovad-login-title-container">
        Inicia sesión
      </div>
      <section id="sinovad-form-container-UserName-section" class="sinovad-login-form-caption-input-container" tabindex="0">
        <div class="sinovad-form-caption-input-content">
          <div class="sinovad-login-form-caption-container">
            <span>
              Usuario
            </span>
          </div>
          <div class="sinovad-form-textinput-container">
            <input id="UserName-input" #UserName type="text" [(ngModel)]="user.UserName"/>
          </div>
        </div>
      </section>
      <section id="sinovad-form-container-password-section" class="sinovad-login-form-caption-input-container" tabindex="0">
        <div class="sinovad-form-caption-input-content">
          <div class="sinovad-login-form-caption-container">
            <span>
              Contraseña
            </span>
          </div>
          <div class="sinovad-form-textinput-container">
            <input id="password-input" #password type="password" [(ngModel)]="user.Password"/>
          </div>
        </div>
      </section>
      <section id="sinovad-form-container-button-section" class="sinovad-login-form-button-section" tabindex="0">
        <button id="log-in-button" class="sinovad-btn-enter" (click)="login()">INGRESAR</button>
      </section>
      <div class="sinovad-login-form-error-message-container">
        {{errorMessage}}
      </div>
    </div>
  </div>
</section>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

