:host{
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sinovad-profiles-section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

button{
  outline:none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

section{
  outline: none;
}

input{
  outline: none;
}

.sinovad-profiles-view-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sinovad-profiles-view-content{
  width: 100%;
  height: 100%;
  display: block;
}

.sinovad-page-header{
  padding: 10px;
  .sinovad-logo-container{
    img{
      max-width: 200px;
    }
  }
}

.sinovad-profiles-view-title-container{
  font-size: 32px;
  color: white;
  text-align: center;
  padding-bottom: 60px;
  font-weight: bold;
}

.sinovad-profiles-view-body{
  overflow-y: auto;
}

.sinovad-profiles-view-list-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  button{
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.8;
    padding: 0;
    margin-right: 20px;
    width: 140px;
  }
  button:last-child{
    margin-right: 0px;
  }
  button:hover{
    opacity: 1;
    .sinovad-initials-profile{
      border: 2px solid white;
    }
  }
  button:focus-visible{
    opacity: 1;
    .sinovad-initials-profile{
      border: 2px solid white;
    }
  }
  button:focus{
    opacity: 1;
    .sinovad-initials-profile{
      border: 2px solid white;
    }
  }
}

.sinovad-profiles-view-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  button{
    border: none;
    outline: none;
    opacity: 0.8;
    background: lightslategrey;
    color: white;
    font-size: 15px;
    height: 48PX;
    padding: 0px 24px;
  }
  button.ready{
    background: #007bff;
  }
  button:hover{
    opacity: 1;
  }
  button:focus-visible{
    opacity: 1;
  }
  button:focus{
    opacity: 1;
  }
}

.sinovad-initials-profile{
  width: 140px;
  height: 140px;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  background: lightslategrey;
  color: white;
}


.sinovad-initials-profile.add{
  background: #007bff;
  img{
    width: 90px;
  }
}


.sinovad-icon-edit-profile-container{
  display: block;
  position: relative;
}

.sinovad-icon-edit-profile-content{
  display: block;
  position: absolute;
  right: 0;
  top: -55px;
  background: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  img{
    width: 20px;
  }
}

.sinovad-fullname-profile{
  display: block;
  color: white;
  font-size: 30px;
  padding-top: 10px;
}

.sinovad-screen-back-container{
  position: relative;
}

.sinovad-screen-back-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  button{
    background: transparent;
    border: none;
    left: 0;
    position: absolute;
    margin-left: 20px;
    opacity: 0.8;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 50px;
    }
  }
  button:hover{
    opacity: 1;
    img{
      width: 54px;
    }
  }
  button:focus-visible{
    opacity: 1;
    img{
      width: 54px;
    }
  }
  button:focus{
    opacity: 1;
    img{
      width: 54px;
    }
  }
}

