<div class="sinovad-page-section-container">
  <div *ngIf="serverErrorMessage" class="sinovad-server-error-message-content">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>{{serverErrorMessage}}
  </div>
  <div class="sinovad-page-section-content">
    <div class="button-container">
      <button class="cancel" (click)="closeChangePassword.emit(true)">Cancelar</button>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasword()" class="form">
      <div class="form-group" [ngClass]="{'error':isInvalidFormControl(changePasswordForm,'password')}">
        <label>
          Contraseña{{isInvalidFormControl(changePasswordForm,'password') && hasRequireErrorFormControl(changePasswordForm,'password')?' - Se requiere Contraseña':''}}
        </label>
        <input type="password" formControlName="password">
      </div>
      <div class="form-group" [ngClass]="{'error':isInvalidFormControl(changePasswordForm,'confirmPassword')}">
        <label>Confirme la nueva contraseña{{isInvalidFormControl(changePasswordForm,'confirmPassword') && hasRequireErrorFormControl(changePasswordForm,'confirmPassword')?' - Confirme la contraseña':''}}</label>
        <input type="password" formControlName="confirmPassword">
      </div>
      <div class="form-group" [ngClass]="{'error':isInvalidFormControl(changePasswordForm,'currentPassword')}">
        <label>Contraseña actual{{isInvalidFormControl(changePasswordForm,'currentPassword') && hasRequireErrorFormControl(changePasswordForm,'currentPassword')?' - Introduza la contraseña actual':''}}</label>
        <input type="password" formControlName="currentPassword">
      </div>
      <div class="submit-button-container">
        <button type="submit" [ngClass]="{'disable':loading}">
          <span [style.visibility]="loading?'hidden':'unset'">Guardar Cambios</span>
          <div *ngIf="loading" class="lds-dual-ring"></div>
        </button>
      </div>
    </form>
  </div>
</div>
