  <ng-template [ngIf]="menu!=undefined && menuFormGroup">
    <form [formGroup]="menuFormGroup" (ngSubmit)="saveItem()" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title">{{menu.Id>0?'Editar':'Nuevo'}}</h5>
        <button class="modal-close-button" type="button" (click)="closeModal()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="form-field-full-width">
          <mat-label>Título</mat-label>
          <input id="title" matInput formControlName="title" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="menuFormGroup.controls['title'].hasError('required')">
            Título es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Path</mat-label>
          <input id="path" matInput formControlName="path"/>
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Número de Orden</mat-label>
          <input id="sortOrder" type="number" matInput formControlName="sortOrder"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de Ícono</mat-label>
          <mat-select formControlName="iconType">
            <mat-option [value]="undefined">--</mat-option>
            <mat-option *ngFor="let iconType of listIconTypes" [value]="iconType.Id">
              {{iconType.Name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Icon Class</mat-label>
          <input id="iconClass" matInput formControlName="iconClass"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Menu Padre</mat-label>
          <mat-select formControlName="parentId">
            <mat-option [value]="undefined">--</mat-option>
            <mat-option *ngFor="let men of listMenus" [value]="men.Id">
              {{men.Title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="enabled">Activo</mat-checkbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="showLoading || !menuFormGroup.valid">Guardar</button>
      </div>
    </form>
    <app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
  </ng-template>
