<div *ngIf="mediaServer" id="serverSettinsPageContainer" class="sinovad-page-container">
  <h2>{{mediaServer.FamilyName?mediaServer.FamilyName:mediaServer.DeviceName}} - Bibliotecas</h2>
  <div class="manage-libraries-header">
    <div class="manage-libraries-count">{{listLibraries?listLibraries.length:''}} bibliotecas</div>
    <button (click)="openNewLibrary()">Añadir biblioteca</button>
    <button (click)="updateVideoInAllLibraries()">Buscar archivos en biblioteca</button>
  </div>
  <ng-template ngFor let-storage [ngForOf]="listLibraries" let-i="index">
    <div class="manage-library-summary-row" [ngClass]="{'selected':currentLibrary && currentLibrary.Id==storage.Id}">
      <div class="manage-library-summary-overlay">
        <div class="manage-library-icon-container">
          <i *ngIf="storage.MediaTypeCatalogDetailId==1" class="fa-solid fa-film"></i>
          <i *ngIf="storage.MediaTypeCatalogDetailId==2" class="fa-solid fa-tv"></i>
        </div>
        <a>{{storage.Name}}</a>
        <div class="manage-library-summary-actions">
          <div class="manage-library-summary-header">
              <button class="manage-library-summary-action" (click)="showActions($event,storage)">
                  <span class="manage-library-summary-header-icon">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </span>
              </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!--
<div *ngIf="callSearchMediaLog" class="sinovad-searh-media-log-container">
  <div class="sinovad-searh-media-log-content">
    <div *ngIf="searchMediaLogContent!=''" class="sinovad-searh-media-log-html" [innerHTML]="searchMediaLogContent">
    </div>
    <div *ngIf="searchMediaLogContent==''" class="sinovad-searh-media-log-second-content">
        Buscando videos...
    </div>
  </div>
</div>
 -->

