.sinovad-page-container{
  padding: 0 20px 48px 30px;
  max-width: 1030px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

h2{
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.manage-libraries-header{
  background-color: rgba(0,0,0,.15);
  color: hsla(0,0%,100%,.45);
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 13px 20px;
  .manage-libraries-count{
    flex-grow: 1;
    font-size: 13px;
  }
  button{
    border-radius: 4px;
    color: #fafafa;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    transition: background-color .2s,color .2s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: hsla(0,0%,100%,.25);
    margin-left: 10px;
    padding: 0 10px;
    border: none;
    font-size: 14px;
  }
  button:hover{
    color: #fff;
    background-color: #ffffff26;
  }
}
.manage-library-summary-row{
  color: hsla(0,0%,100%,.7);
  min-height: 44px;
  position: relative;
  cursor: pointer;
}


.manage-library-summary-overlay{
  align-items: center;
  display: flex;
  pointer-events: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.manage-library-icon-container{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  width: 20px;
  font-size: 13px;
}
a{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  flex-grow: 1;
  overflow: hidden;
  pointer-events: all;
  color: hsla(0,0%,100%,.7);
  font-size: 13px;
}
.manage-library-summary-actions{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  opacity: 1;
}


.manage-library-summary-row:hover{
  background-color: hsla(0,0%,100%,.06);
  color: #fff;
}

.manage-library-summary-row.selected{
  background-color: hsla(0,0%,100%,.06);
  color: #fff;
}

.manage-library-summary-header{
  display: flex;
}

button.manage-library-summary-action{
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  line-height: inherit;
  margin: 0;
  outline: none;
  text-align: inherit;
  text-decoration: none;
  touch-action: manipulation;
  transition: color .2s;
  user-select: none;
  color: hsla(0,0%,100%,.7);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 15px;
  pointer-events: all;
  white-space: nowrap;
}

.manage-library-summary-header-icon{
  display: flex;
  justify-content: center;
  width: 20px;
}


button.manage-library-summary-action:hover{
  color: #fff;
}


.sinovad-searh-media-log-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sinovad-searh-media-log-content{
  width: 80%;
  height: 80%;
  background: black;
  border: 1px solid #dedede;
  border-radius: 6px;
  color: white;
  padding: 10px;
}

.sinovad-searh-media-log-second-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.sinovad-searh-media-log-html{
  color: white;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.sinovad-storage-principal-section{
  display: block;
  border-bottom: 1px solid #dedede;
  margin-left: 10px;
  margin-right: 10px;
  h3{
    color: white;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 30px;
  }
}

.sinovad-storage-container{
  display: block;
}

.sinovad-storage-section{
  display: block;
  padding: 10px;
  h3{
    margin-top: 0px;
    margin-left: 0px;
    font-size: 20px;
  }
  .sinovad-storage-buttons-container{
    display: flex;
    align-items: center;
  }
  input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
}

.sinovad-transcode-subsection{
  display: block;
  padding: 10px;
  label{
    color: white;
  }
  select{
    width: 300px;
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
  }
  input{
    width: 300px;
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.sinovad-transcode-subsection-buttons{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}
