// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

:root {

    //override angular material variable values
  --mat-paginator-container-background-color: #1F212B;
  --mat-paginator-container-text-color: rgba(255, 255, 255, 0.7);
  --mat-paginator-enabled-icon-color: rgba(255, 255, 255, 0.7);
  --mat-paginator-disabled-icon-color: #6e6f76;

  --mat-select-panel-background-color: #1F212B;
  --mat-select-enabled-trigger-text-color: rgba(255, 255, 255, 0.7);
  --mat-select-disabled-trigger-text-color: rgba(255, 255, 255, 0.7);
  --mat-select-placeholder-text-color: rgba(255, 255, 255, 0.7);
  --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.7);
  --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.7);
  --mat-select-focused-arrow-color: rgba(255, 255, 255, 0.7);
  --mat-select-invalid-arrow-color: rgba(244, 67, 54, 0.87);
  --mat-toolbar-container-background-color: #1F212B;
  --mat-toolbar-container-text-color: rgba(255, 255, 255, 0.7);

  --mdc-list-list-item-selected-container-color:#1F212B;
  --mat-option-label-text-color: rgba(255, 255, 255, 0.7);
  --mat-option-selected-state-label-text-color: rgba(255, 255, 255, 0.7);
  --mat-option-hover-state-layer-color: #2c2e37;
  --mat-option-focus-state-layer-color: #2c2e37;
  --mat-option-selected-state-layer-color: #2c2e37;

  --mdc-checkbox-selected-focus-icon-color: #0d6efd;
  --mdc-checkbox-selected-hover-icon-color: #0d6efd;
  --mdc-checkbox-selected-icon-color: #0d6efd;
  --mdc-checkbox-selected-pressed-icon-color: #0d6efd;
  --mdc-checkbox-selected-focus-state-layer-color: #0d6efd;
  --mdc-checkbox-selected-hover-state-layer-color: #0d6efd;
  --mdc-checkbox-selected-pressed-state-layer-color: #0d6efd;

  --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-pressed-icon-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-focus-icon-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-hover-icon-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-focus-state-layer-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-hover-state-layer-color: rgba(255, 255, 255, 0.7) !important;
  --mdc-checkbox-unselected-pressed-state-layer-color:rgba(255, 255, 255, 0.7) !important;

  --mdc-circular-progress-active-indicator-color:#0d6efd !important;

  --mdc-icon-button-icon-color:rgba(255, 255, 255, 0.7) !important;

  --mdc-text-button-label-text-color: rgba(255, 255, 255, 0.7) !important;

  --mat-stepper-header-error-state-label-text-color: #f44336 !important;
  --mat-stepper-header-error-state-icon-foreground-color: #f44336 !important;

  //override bootstrap variable values

  --bs-body-bg: #1F212B !important;
  --bs-heading-color: rgba(255, 255, 255, 0.7) !important;
  --bs-btn-close-color: rgba(255, 255, 255, 0.7) !important;
  --bs-border-color:rgba(255, 255, 255, 0.7) !important;


}
