.custom-list-container{
  max-width: 650px !important;
}

.sinovad-page-container{
  padding: 0 20px 48px 30px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

h2{
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}

td{
  font-size: 13px;
  padding: 6px;
}

div{
  font-size: 13px;
}

span{
  font-size: 13px !important;
}
