<ng-template [ngIf]="!loadingConnection">
  <ng-template [ngIf]="(mediaServers && isEnableAnyMediaServer()) ||  (currentMediaServer && currentMediaServer.isSecureConnection)">
    <div class="media-principal-section">
      <div class="media-container">
        <div *ngIf="title" class="media-header">
          <button class="media-header-button">
            <div class="title">
              {{title}}
            </div>
            <div class="subtitle">
              {{subtitle}}
            </div>
          </button>
        </div>
        <div class="sinovad-list-container sinovad-custom-container" [style.height]="title?'calc(100% - 65px)':'100%'">
          <ng-template ngFor let-group [ngForOf]="itemsGroupList">
            <section id="section_{{group.Id}}" *ngIf="group.ListItems && group.ListItems.length>0" tabindex="0">
              <div class="sinovad-list-row-title">
                <span>{{group.Name}}</span>
              </div>
              <div class="sinovad-list-row-container">
                <div style="width:0px;height:0px;">
                  <div #scrollLeftButton class="sinovad-list-button-scroll-left" (click)="onClickButtonLeftScroll(itemsRowContainer,scrollLeftButton,scrollRightButton)">
                    <img [src]="'scroll-left.png' | formatDataPipe : 'GetIconURLByKey' | async">
                  </div>
                </div>
                <div #itemsRowContainer class="sinovad-list-row" tabindex="0">
                  <div #content class="sinovad-list-content">
                    <ng-template ngFor let-item [ngForOf]="group.ListItems">
                      <div class="sinovad-item-container">
                        <button #itemContainer id="item_{{group.Id}}_{{item.MediaItemId}}" class="sinovad-item-button-vertical" (click)="onClickItem(item)">
                          <img referrerpolicy="no-referrer" [src]="sharedService.getUrlByItemMovieDataBase(item)">
                          <ng-template [ngIf]="item.CurrentTime && item.DurationTime">
                            <div class="sinovad-item-progress-bar-absolute-container">
                              <div class="sinovad-item-progress-bar-container" [style.width]="(itemContainer.clientWidth-8)+'px'">
                                <div class="sinovad-item-progress-bar-content" [style.width]="getWidthProgressItem(item)">

                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </button>
                        <div *ngIf="!item.Subtitle" class="sinovad-item-caption-container">
                          <span>{{item.Title}}</span>
                        </div>
                        <div *ngIf="item.Subtitle">
                          <div class="sinovad-item-title-caption-container">
                            <span>{{item.Title}} {{item.Subtitle}}</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div style="width:0px;height:0px;">
                  <div #scrollRightButton class="sinovad-list-button-scroll-right" (click)="onClickButtonRightScroll(itemsRowContainer,scrollLeftButton,scrollRightButton)">
                    <img [src]="'scroll-right.png' | formatDataPipe : 'GetIconURLByKey' | async">
                  </div>
                </div>
              </div>
            </section>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="currentMediaServer && !currentMediaServer.isSecureConnection">
    <app-server-connection-error [mediaServer]="currentMediaServer"></app-server-connection-error>
  </ng-template>
  <ng-template [ngIf]="(mediaServers && !isEnableAnyMediaServer())">
    <div class="server-error-page-container">
      <div class="server-error-page-content">
        <div class="server-error-message-title">
            No hay servidores disponibles en este momento
        </div>
        <div class="server-error-message-description">

        </div>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template [ngIf]="loadingConnection">
  <div class="spinner-centered-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
