<div *ngIf="mediaServer" id="serverSettinsPageContainer" class="sinovad-page-container">
  <h2>{{mediaServer.FamilyName?mediaServer.FamilyName:mediaServer.DeviceName}} - Bibliotecas</h2>
  <div class="manage-libraries-header">
    <div class="manage-libraries-count">{{listStorages?listStorages.length:''}} bibliotecas</div>
    <button (click)="openNewStorage()">Añadir biblioteca</button>
    <button (click)="updateVideoInAllStorages()">Buscar archivos en biblioteca</button>
  </div>
  <ng-template ngFor let-storage [ngForOf]="listStorages" let-i="index">
    <div class="manage-library-summary-row">
      <div class="manage-library-summary-overlay">
        <div class="manage-library-icon-container">
          <i *ngIf="storage.MediaTypeCatalogDetailId==1" class="fa-solid fa-film"></i>
          <i *ngIf="storage.MediaTypeCatalogDetailId==2" class="fa-solid fa-tv"></i>
        </div>
        <a>{{storage.Name}}</a>
        <div class="manage-library-summary-actions">
          <div class="manage-library-summary-header">
              <button class="manage-library-summary-action">
                  <span class="manage-library-summary-header-icon">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </span>
              </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <div>
    <div class="server-settings-container">
      <div class="settings-row">
          <div class="pane-region">
            <div class="sinovad-storage-container">
              <section class="sinovad-storage-principal-section">
                <div class="container">
                  <div class="row mt-4">
                    <div class="col-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Path</th>
                            <th scope="col">Type</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-template ngFor let-storage [ngForOf]="listStorages" let-i="index">
                            <tr>
                              <th scope="row">{{i+1}}</th>
                              <td>{{storage.PhysicalPath}}</td>
                              <td>{{storage.MediaTypeCatalogDetailId==1?'Movies':'Tv Series'}}</td>
                              <td>
                                <button style="margin-left: 20px;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Sincronizar" (click)="updateStorageVideos(storage)"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
                                <button style="margin-left: 20px;" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="editStorage(storage)"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button style="margin-left: 20px;" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Eliminar" (click)="deleteStorage(storage)"><i class="fa-sharp fa-solid fa-trash"></i></button>
                              </td>
                            </tr>
                          </ng-template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>

<app-storage-form *ngIf="showForm" (closeStorageFormWithChanges)="onCloseStorageFormWithChanges()" (closeStorageForm)="onCloseStorageForm()" [listMainDirectories]="listMainDirectories" [storage]="storage"></app-storage-form>


<div *ngIf="callSearchMediaLog" class="sinovad-searh-media-log-container">
  <div class="sinovad-searh-media-log-content">
    <div *ngIf="searchMediaLogContent!=''" class="sinovad-searh-media-log-html" [innerHTML]="searchMediaLogContent">
    </div>
    <div *ngIf="searchMediaLogContent==''" class="sinovad-searh-media-log-second-content">
        Buscando videos...
    </div>
  </div>
</div>


