<div class="modal-header">
  <h5 class="modal-title">Seleccionar directorio</h5>
  <button class="modal-close-button" type="button" (click)="closeModal()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<div class="modal-body">
  <div class="sinovad-directory-chooser-content">
    <div class="sinovad-main-directories-section">
      <ng-template ngFor let-md [ngForOf]="listMainDirectories">
        <button class="sinovad-main-directory-option" [ngClass]="{'sinovad-directory-selected':selectedMainDirectory && md.Name==selectedMainDirectory.Name}" (click)="onClickMainDirectory(md)">
          {{md.Name}}
        </button>
      </ng-template>
    </div>
    <div class="sinovad-subdirectories-section">
      <button class="sinovad-subdirectory-option" *ngIf="selectedSubdirectory" (click)="onClickBackFolder()">
        <= .. [Regresar]
      </button>
      <ng-template ngFor let-sd [ngForOf]="listSubdirectoriesTmp">
        <button class="sinovad-subdirectory-option" [ngClass]="{'sinovad-directory-selected':selectedSubdirectory && sd.Name==selectedSubdirectory.Name}" (click)="onClickSubDirectory(sd)">
          {{sd.Name}}
        </button>
      </ng-template>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-primary" (click)="saveDirectory()">Guardar</button>
</div>



