<ng-template #modalTarget let-modal>
  <ng-template [ngIf]="tvProgram!=undefined">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">{{'Géneros'}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <ng-template ngFor let-item [ngForOf]="listAllGenresPopUp"  let-i="index">
        <div class="mb-3">
          <label for="genre_{{i}}" class="form-label">{{item.Name}}</label>
          <img style="display:none;" src (error)="onInitializeGenrePopUp(item,checkbox)">
          <input id="genre_{{i}}" #checkbox type="checkbox" class="ms-2"/>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-primary" (click)="modal.close()">Guardar</button>
    </div>
  </ng-template>
</ng-template>


<
