:host{
  position: absolute;
  width: 100%;
  height: 100%;
}

button{
  outline:none !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

.sinovad-module-container{
  border-top: 1px solid #dedede;
}

.sinovad-container-video{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1054;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  top: 0;
  left: 0;
}

.sinovad-page-container{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sinovad-header-container{
  height: 60px;
  background: rgba(0,0,0,.15);
}

.sinovad-menu-body-container{
  display: flex;
  width: 100%;
  height: 100%;
}

.sinovad-menu-container{
  //width: 230px;
  //display: block;
  background: #00000099;
  //overflow-y: auto;
  position: relative;
}

.sinovad-body-container{
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sinovad-body-container.locked{
  pointer-events: none;
}
