


<div *ngIf="sharedData.apiToken!=undefined && sharedData.userData!=undefined && !sharedData.pageNotFoundShowing" class="sinovad-page-container">
  <div #header>
    <app-header (showAdminMode)="showAdminMode()" [showingSidebarAccount]="showingSidebarAccount" [showingSidebarAdminMode]="showingSidebarAdminMode"
    (goHome)="showHome()" (executeSearch)="onSearchMedia($event)" (toggleSidebar)="onClickToggleSidebarButton()"
    (showSplashScreen)="showSplashScreen=true" (logout)="logOut()" (showHomeUser)="showHome()"
    (logout)="logOut()"></app-header>
  </div>
  <div class="sinovad-menu-body-container" [style.height]="'calc(100% - '+(header.offsetHeight+footer.offsetHeight)+'px)'">
    <div #menu>
      <section *ngIf="!isSmallDevice() || !isCollapsedSidebar" id="menuContainer" #menuContainer class="sinovad-menu-container" [style.height]="'100%'" tabindex="0">
        <app-sidebar-administrator *ngIf="showingSidebarAdminMode" (prepareRouterOutlet)="prepareRouterOutlet()"
        [unselectSidebarOption]="unselectSidebarOption"
        [selectHomeUserOption]="selectHomeUserOption"
        (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-administrator>
        <app-sidebar-account *ngIf="showingSidebarAccount" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-account>
        <app-sidebar-media *ngIf="showingSidebarMedia" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-media>
      </section>
    </div>
    <section id="bodyContainer" #principalContainer class="sinovad-body-container" [ngClass]="{'locked':isSmallDevice() && !isCollapsedSidebar}" [style.width]="'calc(100% - '+menu.offsetWidth+'px)'" tabindex="0">
      <ng-template [ngIf]="!hideContent">
        <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
      </ng-template>
    </section>
  </div>
  <div #footer>

  </div>
</div>

<div *ngIf="(sharedData.apiToken==undefined && sharedData.userData==undefined) || sharedData.pageNotFoundShowing" class="sinovad-page-container">
  <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
</div>

<section *ngIf="currentVideo" class="sinovad-container-video">
  <app-video (fullscreen)="showVideoInFullScreen()" [builderVideo]="currentVideo" (outputCloseVideo)="closeVideo()"></app-video>
</section>

<app-splash-screen *ngIf="showSplashScreen"></app-splash-screen>


