<div class="sinovad-page-container">
  <div #header>
    <app-header *ngIf="!showRouterChildWithFullDimentions" (showAdminMode)="showAdminMode()" [showingSidebarAccount]="showingSidebarAccount" [showingSidebarAdminMode]="showingSidebarAdminMode"
     (executeSearch)="onSearchMedia($event)" (toggleSidebar)="onClickToggleSidebarButton()" (logout)="logOut()"></app-header>
  </div>
  <div class="sinovad-menu-body-container" [style.height]="'calc(100% - '+(header.offsetHeight+footer.offsetHeight)+'px)'">
    <div #menu>
      <section *ngIf="!showRouterChildWithFullDimentions && (!isSmallDevice() || !isCollapsedSidebar)" id="menuContainer" #menuContainer class="sinovad-menu-container" [style.height]="'100%'" tabindex="0">
        <app-sidebar-administrator *ngIf="showingSidebarAdminMode" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-administrator>
        <app-sidebar-account *ngIf="showingSidebarAccount" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-account>
        <app-sidebar-media *ngIf="showingSidebarMedia" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-media>
      </section>
    </div>
    <section id="bodyContainer" #principalContainer class="sinovad-body-container" [ngClass]="{'locked':isSmallDevice() && !isCollapsedSidebar}" [style.width]="'calc(100% - '+menu.offsetWidth+'px)'" tabindex="0">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </section>
  </div>
  <div #footer>

  </div>
</div>
