
h3{
  color: white;
}

label{
  color: white;
}

table.rounded-corners {
  border: none;
  overflow: hidden;
 }


thead{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}

thead tr th{
  padding: 8px;
}

tbody{
  background-color:transparent;
  color: rgba(255, 255, 255, 0.7);
}

tbody tr th{
  padding: 0px 8px 0px 8px;
}

tbody tr td{
  padding: 0px 8px 0px 8px;
}

.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: center;
  button.btn-selected-any-item{
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #767676;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px;
    outline: none;
  }
  .horizontal-line{
    background: #767676;
    height: 1px;
    width: 8px;
  }
}

input[type='checkbox'] {
   height: 18px;
   width: 18px;
   border: none;
   outline: none;
   border-radius: 10px;
}

tr:hover{
  background-color: rgba(255, 255, 255, 0.06);
}

.selected{
  background: #b8daff;
  th{
    background: #b8daff;
    color: black;
  }
  td{
    background: #b8daff;
    color: black;
  }
}

.disable{
  pointer-events: none;
  opacity: 0.5;
}

button.action-button{
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 8px 13px 8px 13px;
}


button.toolbar-button.add:hover{
  color: #fff;
  background-color: #ffffff26;
}


button.action-button.edit{
  color: rgba(255, 255, 255, 0.7);
}

button.action-button.remove{
  color: rgba(255, 255, 255, 0.7);
}

button.action-button:hover{
  background-color: rgba(255, 255, 255, 0.08);
}

.container{
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
