<div class="container">
  <div class="row">
    <h3> Roles</h3>
  </div>
  <div *ngIf="!showLoading">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <button type="button" class="action-button edit" (click)="showNewItem()" title="Agregar">
          <i class="fa-solid fa-plus"></i>
        </button>
        <button type="button" class="action-button remove" [ngClass]="{'disable':listSelectedItems.length==0}" (click)="deleteSelectedItems()" title="Eliminar seleccionados">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      <div class="col-6 text-end">

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="Select">
            <th mat-header-cell *matHeaderCellDef style="width:50px;text-align: center;">
              <div class="checkbox-container">
              <button class="btn-selected-any-item" *ngIf="isSelectedAny()" (click)="unselectAll()">
                <div class="horizontal-line"></div>
              </button>
              <input *ngIf="isSelectedNothing() || isSelectedAll()" type="checkbox" [checked]="isSelectedAll()" (change)="onChangeSelectAllCheckBox($event)">
            </div>
            </th>
            <td mat-cell *matCellDef="let element" style="width:50px;text-align: center;">
              <div class="checkbox-container">
                <input type="checkbox" [checked]="isCheckedItem(element)" (click)="onSelectItem($event,element)">
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef style="width:50px;text-align: center;">N°</th>
            <td mat-cell *matCellDef="let element;let i = index" style="width:50px;text-align: center;"> {{getElementNumber(i,currentPage,itemsPerPage)}}</td>
          </ng-container>
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="width:100%;text-align: left;"> Nombre </th>
            <td mat-cell *matCellDef="let element" style="width:100%;text-align: left;"> {{element.Name}} </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef style="width:100px;"></th>
            <td mat-cell *matCellDef="let element" style="width:100px;height: 100%;">
              <div style="display: flex;align-items: center;justify-content: center;height: 100%;">
                <button type="button" class="action-button edit" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="editItem(element)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button type="button" class="action-button remove" data-toggle="tooltip" data-placement="bottom" title="Eliminar" (click)="deleteItem(element)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

<!--         <table class="rounded-corners">
          <thead>
            <tr>
              <th scope="col" style="width:50px;text-align: center;">
                <div class="checkbox-container">
                  <button class="btn-selected-any-item" *ngIf="isSelectedAny()" (click)="unselectAll()">
                    <div class="horizontal-line"></div>
                  </button>
                  <input *ngIf="isSelectedNothing() || isSelectedAll()" type="checkbox" [checked]="isSelectedAll()" (change)="onChangeSelectAllCheckBox($event)">
                </div>
              </th>
              <th scope="col" style="width:50px;text-align: center;">N°</th>
              <th scope="col" style="width:100%;text-align: left;">Título</th>
              <th scope="col" style="width:100px;"></th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="listItems" let-i="index">
              <tr>
                <th style="width:50px;text-align: center;" scope="row">
                  <div class="checkbox-container">
                    <input type="checkbox" [checked]="isCheckedItem(item)" (click)="onSelectItem($event,item)">
                  </div>
                </th>
                <th style="width:50px;text-align: center;" scope="row">{{getElementNumber(i,currentPage,itemsPerPage)}}</th>
                <td style="width:100%;text-align: left;">{{item.Name}}</td>
                <td style="width:100px;display: flex;">
                  <button type="button" class="action-button edit" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="editItem(item)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button type="button" class="action-button remove" data-toggle="tooltip" data-placement="bottom" title="Eliminar" (click)="deleteItem(item)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table> -->

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-paginator (page)="onChangePaginator($event)" [color]="'primary'" [length]="totalCount"
                [pageIndex]="currentPage-1"
                [pageSize]="itemsPerPage"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Seleccionar página">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showLoading">
  <app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
</div>
