<div class="container">
  <div class="row mt-4">
    <h3> Roles</h3>
  </div>
  <div class="row mt-4">
    <div class="col-6 d-flex align-items-center">
      <button type="button" class="action-button edit" (click)="showNewRol()" title="Agregar">
        <i class="fa-solid fa-plus"></i>
      </button>
      <button type="button" class="action-button remove" [ngClass]="{'disable':listSelectedItems.length==0}" (click)="deleteSelectedItems()" title="Eliminar seleccionados">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div class="col-6 text-end">

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <table class="rounded-corners">
        <thead>
          <tr>
            <th scope="col" style="width:50px;text-align: center;">
              <div class="checkbox-container">
                <button class="btn-selected-any-item" *ngIf="isSelectedAny()" (click)="unselectAll()">
                  <div class="horizontal-line"></div>
                </button>
                <input *ngIf="isSelectedNothing() || isSelectedAll()" type="checkbox" [checked]="isSelectedAll()" (change)="onChangeSelectAllCheckBox($event)">
              </div>
            </th>
            <th scope="col" style="width:50px;text-align: center;">N°</th>
            <th scope="col" style="width:100%;text-align: left;">Título</th>
            <th scope="col" style="width:100px;"></th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-item [ngForOf]="listItems" let-i="index">
            <tr>
              <th style="width:50px;text-align: center;" scope="row">
                <div class="checkbox-container">
                  <input type="checkbox" [checked]="isCheckedItem(item)" (click)="onSelectItem($event,item)">
                </div>
              </th>
              <th style="width:50px;text-align: center;" scope="row">{{getNewIndex(i,response.PageNumber,pageSize)}}</th>
              <td style="width:100%;text-align: left;">{{item.Name}}</td>
              <td style="width:100px;display: flex;">
                <button type="button" class="action-button edit" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="editItem(item)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button type="button" class="action-button remove" data-toggle="tooltip" data-placement="bottom" title="Eliminar" (click)="deleteItem(item)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
        <app-pagination *ngIf="response" [responsePagination]="response" (selectPage)="onSelectPage($event)"></app-pagination>
    </div>
  </div>
</div>
<app-context-menu #contextMenuPage></app-context-menu>
