

  <ng-template [ngIf]="listAllGenres!=undefined">
    <div class="modal-header">
      <h5 class="modal-title">{{'Géneros'}}</h5>
      <button class="modal-close-button" type="button" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-template ngFor let-item [ngForOf]="listAllGenres"  let-i="index">
        <p><mat-checkbox>{{item.Name}}</mat-checkbox></p>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="onSaveSelection()">Guardar</button>
    </div>
  </ng-template>

<
