

  <ng-template [ngIf]="listAllGenres!=undefined">
    <div class="modal-header">
      <h5 class="modal-title">{{'Géneros'}}</h5>
      <button class="modal-close-button" type="button" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-template ngFor let-item [ngForOf]="listAllGenres"  let-i="index">
        <div class="mb-3">
          <label for="genre_{{i}}" class="form-label">{{item.Name}}</label>
          <input id="genre_{{i}}" #checkbox type="checkbox" class="ms-2"/>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="onSaveSelection()">Guardar</button>
    </div>
  </ng-template>

<
