<div class="sinovad-page-container">
  <div class="sinovad-page-title">
    <h2>Cuenta</h2>
  </div>
  <div class="settings-category-header-background">
    <div style="width: 100%;">
      <h2>Información personal</h2>
    </div>
  </div>
  <div class="sinovad-page-section-container">
    <div class="sinovad-page-section-content">
      <div class="detail">
        <label>Nombre de Usuario</label>
        <span>{{sharedService.userData.UserName}}</span>
      </div>
    </div>
  </div>
  <div class="sinovad-page-section-container">
    <div class="sinovad-page-section-content">
      <div class="detail">
        <label>Correo electrónico</label>
        <span>{{sharedService.userData.Email}}</span>
      </div>
    </div>
  </div>
  <div class="settings-category-header-background">
    <div style="width: 100%;">
      <h2>Seguridad</h2>
    </div>
  </div>
  <div *ngIf="isCollapsedChangePasswordSection" (click)="isCollapsedChangePasswordSection=false" class="sinovad-page-section-container" role="button">
    <div class="sinovad-page-section-content">
      <div class="button-container">
        <button class="edit">Editar</button>
      </div>
      <div class="detail">
        <label>Contraseña</label>
        <span *ngIf="sharedService.userData.IsPasswordSetted">*********</span>
        <span *ngIf="!sharedService.userData.IsPasswordSetted">No establecida</span>
      </div>
    </div>
  </div>
  <app-change-password *ngIf="!isCollapsedChangePasswordSection && sharedService.userData.IsPasswordSetted" (closeChangePassword)="isCollapsedChangePasswordSection=true"></app-change-password>
  <app-set-password *ngIf="!isCollapsedChangePasswordSection && !sharedService.userData.IsPasswordSetted" (closeSetPassword)="isCollapsedChangePasswordSection=true"></app-set-password>
</div>
