<header>
  <nav>
    <a class="sinovad-logo-button" (click)="goHome.emit(true)">
      <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
    </a>
    <ul class="sinovad-nav-list">
      <ng-template ngFor let-option [ngForOf]="navbarOptions">
        <li>
          <a (click)="onClickOption(option)">
            <i class="{{option.iconClass}}"></i>
            <span class="ms-2">{{option.name}}</span>
          </a>
        </li>
      </ng-template>
    </ul>
    <app-dropdown-user (changeProfile)="goHome.emit(true)" (logout)="logout.emit(true)" (showSplashScreen)="showSplashScreen.emit(true)"></app-dropdown-user>
  </nav>
</header>

