


<div *ngIf="sharedData.currentToken!=undefined && sharedData.userData!=undefined && !sharedData.pageNotFoundShowing" class="sinovad-page-container" [ngClass]="{'small':isSmallDevice()}">
  <div #header>
    <app-header-web-admin (showAdminMode)="showAdminMode()" [showingSidebarAccount]="showingSidebarAccount" [showingSidebarAdminMode]="showingSidebarAdminMode"
    (goHome)="showHome()" (executeSearch)="onSearchMedia($event)" (toggleSidebar)="onClickToggleSidebarButton()"
    (showSplashScreen)="showSplashScreen=true" (logout)="logOut()" (showHomeUser)="showHome()"
    (logout)="logOut()"></app-header-web-admin>
  </div>
  <div class="sinovad-menu-body-container" [style.height]="'calc(100% - '+(header.offsetHeight+footer.offsetHeight)+'px)'">
    <div #menu>
      <section *ngIf="!isCollapsedSidebar" id="menuContainer" #menuContainer class="sinovad-menu-container" [style.height]="'100%'" tabindex="0">
        <app-sidebar-web-admin *ngIf="showingSidebarAdminMode" (prepareRouterOutlet)="prepareRouterOutlet()" [unselectSidebarOption]="unselectSidebarOption" [selectHomeUserOption]="selectHomeUserOption"
        (hideSidebar)="isCollapsedSidebar=true"></app-sidebar-web-admin>
        <app-sidebar-account *ngIf="showingSidebarAccount"></app-sidebar-account>
        <app-sidebar-media *ngIf="showingSidebarMedia" (collapseSidebar)="isCollapsedSidebar=true"></app-sidebar-media>
      </section>
    </div>
    <section id="bodyContainer" #principalContainer class="sinovad-body-container" [ngClass]="{'locked':isSmallDevice() && !isCollapsedSidebar}" [style.width]="'calc(100% - '+menu.offsetWidth+'px)'" tabindex="0">
      <ng-template [ngIf]="!hideContent">
        <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
      </ng-template>
    </section>
  </div>
  <div #footer>

  </div>
</div>

<div *ngIf="(sharedData.currentToken==undefined && sharedData.userData==undefined) || sharedData.pageNotFoundShowing" class="sinovad-page-container">
  <router-outlet class="small" (activate)="onActivate($event)"></router-outlet>
</div>

<section *ngIf="sharedData.currentVideo" class="sinovad-container-video">
  <app-video [ngClass]="{'small':isSmallDevice()}" (fullscreen)="showVideoInFullScreen()" [builderVideo]="sharedData.currentVideo" (outputCloseVideo)="closeVideo()"></app-video>
</section>

<app-splash-screen *ngIf="showSplashScreen"></app-splash-screen>


