<ng-template [ngIf]="role!=undefined">
  <div class="container custom-list-container">
    <div class="row mb-5">
      <div class="custom-page-title"><a [routerLink]="['/manage/roles']">Roles</a> - {{role.Name}} - Menus</div>
    </div>
    <div>
      <div class="row">
        <div class="col-12">
              <div class="modal-body">
                <div class="row">
                  <div class="col-4">
                  </div>
                  <div class="col-2 text-center text-truncate">
                    Ver
                 </div>
                 <div class="col-2 text-center text-truncate">
                   Crear
                 </div>
                 <div class="col-2 text-center text-truncate">
                   Actualizar
                 </div>
                 <div class="col-2 text-center text-truncate">
                   Eliminar
                 </div>
                </div>

                <ng-template ngFor let-roleMenu [ngForOf]="role.RoleMenus"  let-i="index">
                  <div class="row">
                    <div class="col-4 d-flex align-items-center">
                      <mat-checkbox (click)="onChangeEnable($event,roleMenu)" [checked]="roleMenu.Enabled"></mat-checkbox><span>{{roleMenu.MenuTitle}}</span>
                    </div>
                    <div class="col-2 text-center">
                      <mat-checkbox (click)="onChangeRead($event,roleMenu)" [checked]="roleMenu.AllowRead"></mat-checkbox>
                    </div>
                    <div class="col-2 text-center">
                      <mat-checkbox (click)="onChangeCreate($event,roleMenu)" [checked]="roleMenu.AllowCreate"></mat-checkbox>
                    </div>
                    <div class="col-2 text-center">
                      <mat-checkbox (click)="onChangeUpdate($event,roleMenu)" [checked]="roleMenu.AllowUpdate"></mat-checkbox>
                    </div>
                    <div class="col-2 text-center">
                      <mat-checkbox (click)="onChangeDelete($event,roleMenu)" [checked]="roleMenu.AllowDelete"></mat-checkbox>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="modal-footer mt-5">
                <button class="btn btn-primary" [disabled]="showLoading" (click)="saveRoleMenus()">Guardar</button>
              </div>
            <app-custom-spinner [showLoading]="showLoading"></app-custom-spinner>
        </div>
      </div>
    </div>
  </div>
</ng-template>

