<div class="sinovad-page-section-container">
  <div *ngIf="serverErrorMessage" class="sinovad-server-error-message-content">
    <i class="fa-solid fa-triangle-exclamation me-2"></i>{{serverErrorMessage}}
  </div>
  <div class="sinovad-page-section-content">
    <div class="button-container">
      <button class="cancel" (click)="closeSetPassword.emit(true)">Cancelar</button>
    </div>
    <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()" class="form">
      <div class="form-group" [ngClass]="{'error':commonService.isInvalidFormControl(setPasswordForm,'password')}">
        <label>
          Elegir una Contraseña{{commonService.isInvalidFormControl(setPasswordForm,'password') && commonService.hasRequireErrorFormControl(setPasswordForm,'password')?' - Se requiere Contraseña':''}}
        </label>
        <input type="password" formControlName="password">
      </div>
      <div class="form-group" [ngClass]="{'error':commonService.isInvalidFormControl(setPasswordForm,'confirmPassword')}">
        <label>Confirmar la contraseña{{commonService.isInvalidFormControl(setPasswordForm,'confirmPassword') && commonService.hasRequireErrorFormControl(setPasswordForm,'confirmPassword')?' - Confirme la contraseña':''}}</label>
        <input type="password" formControlName="confirmPassword">
      </div>
      <div class="submit-button-container">
        <button type="submit" class="btn btn-primary" [disabled]="loading || !setPasswordForm.valid">
          <span [style.visibility]="loading?'hidden':'unset'">Guardar Cambios</span>
          <div *ngIf="loading" class="lds-dual-ring"></div>
        </button>
      </div>
    </form>
  </div>
</div>
