
.sinovad-search-view-container{
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #2d3744;
  overflow: auto;
}

.sinovad-search-view-title{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  .sinovad-search-view-title-content{
    height: 100%;
    border-bottom: 1px solid #dedede;
    width: 100%;
  }
}

.sinovad-navbar-search{
  background: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  .sinovad-bottom-search{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-right: 20px;
    background-color: white;
    input{
      background: transparent;
      border: none;
      outline: none;
      padding-left: 10px;
      width: 100%;
    }
    button{
      background: transparent;
      border: none;
      outline: none;
      border-radius: 0px 7px 7px 0px;
      opacity: 0.7;
      padding-right: 8px;
      padding-left: 8px;
    }
    button:hover{
      opacity: 1;
    }
  }
  .sinovad-bottom-search.focused{
    border: 2px solid #007bff;
  }
  .sinovad-close-search-container{
    width: 20px;
    button{
      background: transparent;
      border: none;
      outline: none;
      border-radius: 0px 7px 7px 0px;
      opacity: 0.7;
      color: white;
      padding-right: 8px;
      padding-left: 8px;
      font-size: 24px;
    }
    button:hover{
      opacity: 1;
    }
  }
}
