<div #container class="sinovad-search-view-container" [ngClass]="{'small':isSmallDevice()}">
  <div #header class="sinovad-search-view-title">
    <div class="sinovad-navbar-search">
      <div class="sinovad-bottom-search" [ngClass]="{'focused':isFocusSearch}">
        <input #input type="text" [(ngModel)]="searchText" (change)="onChangeSearchValue()" (focus)="isFocusSearch=true" (blur)="isFocusSearch=false">
        <button (click)="onClickSearchButton()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="sinovad-close-search-container">
        <button (click)="clearSearchText()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div #itemListContainer [style.height]="'calc(100% - '+header.offsetHeight+'px)'">
    <app-vertical-item-list (showItemView)="onSelectItem($event)" [executeSearch]="executeSearch"></app-vertical-item-list>
  </div>
</div>
