<div #header class="sinovad-back-button-container">
  <button id="button_close_form" (click)="onClose()">
    <img [src]="'back-screen.png' | formatDataPipe : 'GetImageURLByKey'">
  </button>
</div>
<section id="sinovad-form-container" class="sinovad-sinovad-form-container" [style.height]="'calc(100% - '+header.offsetHeight+'px)'">
  <div class="sinovad-form-content">
    <div class="sinovad-form" *ngIf="!showSuccessMessage">
      <div class="sinovad-logo-container">
        <img [src]="'sinovad-stream-large-logo.png' | formatDataPipe : 'GetImageURLByKey'">
      </div>
      <div class="sinovad-title-container">
        Regístrate
      </div>
      <div class="mb-3">
        <label class="form-label">
            Usuario
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text"  [(ngModel)]="registerUserModel.Email"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Nombres
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text"  [(ngModel)]="registerUserModel.FirstName"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Apellidos
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text"  [(ngModel)]="registerUserModel.LastName"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Usuario
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="text"  [(ngModel)]="registerUserModel.UserName"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="password" [(ngModel)]="registerUserModel.Password"/>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          Confirmar contraseña
        </label>
        <div class="sinovad-form-textinput-container">
          <input type="password" [(ngModel)]="registerUserModel.ConfirmPassword"/>
        </div>
      </div>
      <div class="mb-3">
        <button class="register" (click)="register()">Registrar</button>
      </div>
      <div class="sinovad-form-error-message-container">
        {{errorMessage}}
      </div>
    </div>
    <div *ngIf="showSuccessMessage">
      <h2>Registro de Usuario</h2>
      <p>Usuario registrado satistactoriamente, verifique su correo electrónico y active su cuenta por favor.</p>
    </div>
  </div>
</section>

<div class="sinovad-spinner-container" *ngIf="showLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

