  <ng-template [ngIf]="movie!=undefined && movieFormGroup">
    <form [formGroup]="movieFormGroup" (ngSubmit)="saveItem()">
      <div class="modal-header">
        <h5 class="modal-title">{{movie.Id>0?'Editar':'Nuevo'}}</h5>
        <button class="modal-close-button" type="button" (click)="closeModal()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="form-field-full-width">
          <mat-label>Título</mat-label>
          <input id="title" matInput formControlName="title" [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="movieFormGroup.controls['title'].hasError('required')">
            Título es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de Lanzamiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="releaseDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="mb-3">
          <label for="directors" class="form-label">Directores</label>
          <textarea id="directors" class="form-control" formControlName="directors"></textarea>
        </div>
        <div class="mb-3">
          <label for="actors" class="form-label">Actores</label>
          <textarea id="actors" class="form-control" formControlName="actors"></textarea>
        </div>
        <div class="mb-3">
          <label for="summary" class="form-label">Resumen</label>
          <textarea id="summary" class="form-control" formControlName="overview"></textarea>
        </div>
        <div class="mb-3">
          <label for="genres" class="form-label">Géneros</label>
          <textarea id="genres" class="form-control" readonly [value]="getSelectedGenres()" (click)="showListGenresPopUp()"></textarea>
        </div>
        <div class="mb-3">
          <label for="posterPath" class="form-label">Imágen</label>
          <textarea id="posterPath" class="form-control" formControlName="posterPath"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="showLoading || !movieFormGroup.valid">Guardar</button>
      </div>
    </form>
  </ng-template>


<!-- <app-item-genres *ngIf="showGenresPopUp" [tvProgram]="tvProgram" [listAllGenresPopUp]="listAllGenresPopUp"
(close)="showGenresPopUp=false" (closeWithChanges)="onCloseGenresPopUp($event)"></app-item-genres> -->
