
<div class="sidebar-backdrop" (clickOutside)="onClickOutsideSidebar($event)">
  <div class="sidebar-container">
    <div class="sidebar-content">
        <div *ngIf="sharedService.userData" role="navigation">
            <div class="sidebar-list-header-container">
              <div class="sidebar-list-header-content">
                {{sharedService.userData.FirstName}} {{sharedService.userData.LastName}}
              </div>
            </div>
            <div class="sidebar-list-item-container" [ngClass]="{'selected':isSelectedAccountOption()}">
              <a [routerLink]="['/settings/account']">
                <div class="sidebar-link-container">
                  <div class="sidebar-link-icon"></div>
                  <div class="sidebar-link-title">
                    Cuenta
                  </div>
                </div>
              </a>
            </div>
        </div>
        <button *ngIf="selectedMediaServer" #mediaServerButton class="media-server-button" (click)="togleDropDownMediaServers($event)" [ngClass]="{'selected':isSelectedServerOption()}">
          <div class="content">
            <div class="left">
                <span class="first">
                  {{selectedMediaServer.FamilyName?selectedMediaServer.FamilyName:selectedMediaServer.DeviceName}}
                </span>
                <i *ngIf="dropDownServersService.isShowing" class="fa-solid fa-caret-up"></i>
                <i *ngIf="!dropDownServersService.isShowing" class="fa-solid fa-caret-down"></i>
            </div>
            <div *ngIf="!loadingConnection" class="server-settings-menu-button-icon" [ngClass]="{'icon-secure':selectedMediaServer.isSecureConnection,'icon-alert':!selectedMediaServer.isSecureConnection}">
              <i *ngIf="selectedMediaServer.isSecureConnection" class="fa-solid fa-lock"></i>
              <i *ngIf="!selectedMediaServer.isSecureConnection" class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div *ngIf="loadingConnection" class="server-settings-menu-button-icon">
              <i class="fa-solid fa-circle-notch fa-spin" style="color: white;"></i>
            </div>
          </div>
        </button>
        <ng-template [ngIf]="!loadingConnection && selectedMediaServer && serverModules && serverModules.length>0">
          <ng-template [ngIf]="selectedMediaServer.isSecureConnection">
            <ng-template [ngIf]="!commonService.isHttpsSite()">
              <ng-template ngFor let-module [ngForOf]="serverModules">
                <div role="navigation">
                  <div class="sidebar-list-header-container">
                    <div class="sidebar-list-header-content">
                      {{module.name}}
                    </div>
                  </div>
                  <ng-template ngFor let-option [ngForOf]="module.listOptions">
                    <div class="sidebar-list-item-container" [ngClass]="{'selected':isSelectedSidebarOption(option)}">
                      <a [routerLink]="[getOptionPath(option)]">
                        <div class="sidebar-link-container">
                          <div class="sidebar-link-icon"></div>
                          <div class="sidebar-link-title">
                            {{option.name}}
                          </div>
                        </div>
                      </a>
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </ng-template>
            <ng-template [ngIf]="commonService.isHttpsSite()">
              <div>
                <p class="sidebar-message">No se puede conectar a "{{selectedMediaServer.FamilyName?selectedMediaServer.FamilyName:selectedMediaServer.DeviceName}}" desde este sitio</p>
              </div>
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="!selectedMediaServer.isSecureConnection">
              <div>
                <p class="sidebar-message">No se puede conectar a "{{selectedMediaServer.FamilyName?selectedMediaServer.FamilyName:selectedMediaServer.DeviceName}}" porque el servidor esta apagado</p>
              </div>
          </ng-template>
        </ng-template>
        <ng-template [ngIf]="loadingConnection">
          <div class="spinner-centered-container">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
    </div>
  </div>
</div>
